body{
  background-color: #EAFDFC;
}

h1, h3{
  color: #82AAE3;
}

.no-decorations a{
     text-decoration: none;
     color: inherit;
 }

hr{
  border-style: none;
  border-top: 5px dotted #82AAE3;
  width: 3%;
}

.no-decorations{
  text-decoration: none;
}
